<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwh.my.shop.web.admin.dao.TbContentDao">

    <sql id="tbContentColumns">
        c.id,
        c.category_id AS categoryId,
        c.title,
        c.sub_title AS subTitle,
        c.title_desc AS titleDesc,
        c.url,
        c.pic,
        c.pic2,
        c.content,
        c.created,
        c.updated
    </sql>

    <select id="selectAll" resultType="TbContent">
        SELECT
            <include refid="tbContentColumns"/>
        FROM
            tb_content AS c
    </select>

    <insert id="insert">
        INSERT INTO tb_content (
            category_id,
            title,
            sub_title,
            title_desc,
            url,
            pic,
            pic2,
            content,
            created,
            updated
        )
        VALUES
          (
            #{categoryId},
            #{title},
            #{subTitle},
            #{titleDesc},
            #{url},
            #{pic},
            #{pic2},
            #{content},
            #{created},
            #{updated}
          )
    </insert>

    <delete id="delete">
        DELETE FROM tb_content WHERE id = #{id}
    </delete>

    <select id="getById" resultType="TbContent">
        SELECT
            <include refid="tbContentColumns"/>
        FROM
            tb_content AS c
        WHERE
            c.id = #{id}
    </select>

    <update id="update">
        UPDATE
            tb_content
        SET
            category_id = #{categoryId},
            title = #{title},
            sub_title = #{subTitle},
            title_desc = #{titleDesc},
            url = #{url},
            pic = #{pic},
            pic2 = #{pic2},
            content = #{content},
            created = #{created},
            updated = #{updated}
        WHERE
            id = #{id}
    </update>

    <delete id="deleteMulti">
        DELETE FROM tb_content
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="page" resultType="TbContent" parameterType="java.util.Map">
        SELECT
            <include refid="tbContentColumns"/>
        FROM
            tb_content AS c
        <where>
            <if test="tbContent.title != null and tbContent.title != ''">
                AND c.title LIKE CONCAT ('%', #{tbContent.title}, '%')
            </if>
            <if test="tbContent.subTitle != null and tbContent.subTitle != ''">
                AND c.sub_title LIKE CONCAT ('%', #{tbContent.subTitle}, '%')
            </if>
            <if test="tbContent.titleDesc != null and tbContent.titleDesc != ''">
                AND c.title_desc LIKE CONCAT ('%', #{tbContent.titleDesc}, '%')
            </if>
            <if test="tbContent.content != null and tbContent.content != ''">
                AND c.content LIKE CONCAT ('%', #{tbContent.content}, '%')
            </if>
        </where>
        LIMIT #{start}, #{length}
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tb_content As c
        <where>
            <if test="title != null and title != ''">
                AND c.title LIKE CONCAT ('%', #{title}, '%')
            </if>
            <if test="subTitle != null and subTitle != ''">
                AND c.sub_title LIKE CONCAT ('%', #{subTitle}, '%')
            </if>
            <if test="titleDesc != null and titleDesc != ''">
                AND c.title_desc LIKE CONCAT ('%', #{titleDesc}, '%')
            </if>
            <if test="content != null and content != ''">
                AND c.content LIKE CONCAT ('%', #{content}, '%')
            </if>
        </where>
    </select>
</mapper>