<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwh.my.shop.web.admin.dao.TbContentCategoryDao">

    <sql id="tbContentCategoryColumns">
        cc.id,
        cc.name,
        cc.status,
        cc.sort_order AS sortOrder,
        cc.is_parent AS isParent,
        cc.created,
        cc.updated,
        IFNULL (cc2.id, '0') AS "parent.id",
        IFNULL (cc2.name, '/') AS "parent.name"
    </sql>

    <sql id="tbContentCategoryJoins">
        LEFT JOIN tb_content_category AS cc2 ON cc.parent_id = cc2.id
    </sql>

    <select id="selectAll" resultType="TbContentCategory">
        SELECT
            <include refid="tbContentCategoryColumns"/>
        FROM
            tb_content_category AS cc
            <include refid="tbContentCategoryJoins"/>
        ORDER BY
            cc.parent_id ASC,
            cc.sort_order ASC,
            cc.is_parent DESC
    </select>

    <select id="selectByPid" resultType="TbContentCategory">
        SELECT
            <include refid="tbContentCategoryColumns"/>
        FROM
            tb_content_category AS cc
            <include refid="tbContentCategoryJoins"/>
        WHERE
            cc.parent_id = #{parent.id}
    </select>

    <select id="getById" resultType="TbContentCategory">
        SELECT
            <include refid="tbContentCategoryColumns"/>
        FROM
            tb_content_category AS cc
            <include refid="tbContentCategoryJoins"/>
        WHERE
            cc.id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO tb_content_category (
            parent_id,
            name,
            status,
            sort_order,
            is_parent,
            created,
            updated
        )
        VALUES
          (
            #{parent.id},
            #{name},
            #{status},
            #{sortOrder},
            #{isParent},
            #{created},
            #{updated}
          )
    </insert>

    <update id="update">
        UPDATE
            tb_content_category
        SET
            parent_id = #{parent.id},
            name = #{name},
            status = #{status},
            sort_order = #{sortOrder},
            is_parent = #{isParent},
            created = #{created},
            updated = #{updated}
        WHERE
            id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM tb_content_category
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

</mapper>